@import 'header';




body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
    max-width: 1160px;
}

.main__layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.main__heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 102px;
    width: 100%;
    max-width: 416px;
    color: #FFFFFF;
}

.main__info {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    width: 100%;
    max-width: 416px;
    color: #FFFFFF;
}

